# Ignore local IDE settings
*.idea
*.iml
*.ipynb_checkpoints
*.suo
*.vs
.vscode

#ignore .venv
*.venv

backend/__pycache__/*
backend/data/logs/*
frontend/admin/node_modules/*
frontend/client/node_modules/*
node_modules
frontend/.DS_Store
backend/bots/__pycache__/*
backend/firestore/llm-social-firebase-adminsdk-fbsvc-48e39d614e.json
backend/.DS_Store
.DS_Store
backend/firestore/__pycache__/firebase.cpython-310.pyc
backend/firestore/firebase_service_account.json
ollama.log
backend/ml/__pycache__/agent.cpython-310.pyc
backend/ml/__pycache__/environment.cpython-310.pyc
backend/ml/__pycache__/explain.cpython-310.pyc
backend/ml/models/social_sim_dqn/_stable_baselines3_version
backend/ml/models/social_sim_dqn/data
backend/ml/models/social_sim_dqn/policy.optimizer.pth
backend/ml/models/social_sim_dqn/policy.pth
backend/ml/models/social_sim_dqn/system_info.txt
backend/ml/models/social_sim_dqn/pytorch_variables.pth
backend/ml/models/social_sim_dqn.zip
